{% extends 'base.html.twig' %}

{% block body %}
    <hr>
    <h1> {{pluralize(projects|length,'projet')}} :</h1>
    <hr>
    {% for project in projects%}
        <article>   
            <a href="{{path('projet',{'name':project.name})}}"><h1>({{project.id}}){{project.name}}</h1></a>
            <p>{{project.description|truncate(50)|markdownify}}</p>
            <ul>
                <li>Prix : {{format_price(project)}} </li> 
                <li>Date d'échéance : {{format_date(project)}} </li> 
                <li>Web : {{project.web}}</li> 
            </ul>
        </article>   
        <hr>
    {%endfor%}
{% endblock %}

{% block stylesheets %}

{% endblock %}

{#|date('d M Y')#}